---
---
<section class='flex justify-between gap-5'>
    <a class="hover:text-pink-400 transition-all" href="/skills">Skills</a>
    <a class="hover:text-pink-400 transition-all" href="/portfolio">Portfolio</a>
    <a class="hover:text-pink-400 transition-all" href="/experiencia-laboral">Experiencia</a>
</section>