---
import Github from '../Icons/Social/Github.astro'
import Linkedin from '../Icons/Social/Linkedin.astro'
import Whatsapp from '../Icons/Social/Whatsapp.astro'
---
<section class='flex m-auto gap-4'>
    <a href="https://github.com/EmaLoto/" target="_blank"><Github/></a>
    <a href="https://www.linkedin.com/in/caleb-emanuel-loto-50a337174/" target="_blank"><Linkedin/></a>
    <a href="https://wa.link/ltshud" target="_blank"><Whatsapp/></a>
</section>