---
import Redes from '../components/Redes.astro'
---
<section class='flex gap-5 py-3 justify-evenly bg-black bg-opacity-50 max-sm:flex-col-reverse'>
    <h1 class="m-auto">Copywrite © 2024 Caleb Emanuel Loto</h1>
    <Redes />
</section>